<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Client.styles.css" asp-append-version="true" />
    <style>
        .navbar + .content {
            padding-top: 50px; /* Menyesuaikan dengan tinggi navbar */
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">*@
                @*<a class="navbar-brand" href="#">Navbar</a>*@
                @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Employee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="University" asp-action="Index">University</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account/Logins" asp-action="Index">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto ">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Account/Secreet">Secreet Page</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" asp-area=""  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Employee</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="Index">View Employe</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="GetAllEmp">View All Employe</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="Creates">Create Employee</a></li>
                         
                            </ul>
                        </li><li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" asp-area=""  id="navbarDropdownMenuLinkUniv" role="button" data-bs-toggle="dropdown" aria-expanded="false">University</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkUniv">
                                <li><a class="dropdown-item" asp-area="" asp-controller="University" asp-action="Index">View University</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="University" asp-action="Creates">Create University</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Logout">Logout</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <!-- Konten setelah Navbar -->
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
